#answer-enhancer-retry-prompt {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255, 191, 0, 0.5) 100%);
    width: 100%;
    z-index: 24;
    position: relative;
    bottom: 40px;
    pointer-events: none;
}
#answer-enhancer-retry-prompt div {
    padding: 16px 50px;
    max-width: 1080px;
    margin: 0 auto;
}
#answer-enhancer-retry-prompt h2 {
    margin: 0;
}
#answer-enhancer-retry-hint {
    padding: 0;
}
#yourButtonButBetter {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
}